<!DOCTYPE html>
<html lang="en">
<head>
  <!--head tag link-->
    {{>headtagdataallfiles}}
  <!--head tag link-->
  
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/"><i class="fa-solid fa-snowflake"></i> Weather APP <i class="fa-solid fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">|||</span>
                      </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto vala">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/weather">weather</a>
                          </li>
                      </ul>
                     
                    </div>
                  </nav>
            </div>
        </div>
    </div>

    <!-- main header of page -->
<div class=" container container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side view-->
                <div class="col-md-12 col-12 main_header_left">
                    <figure class="errorimg"> <img src="media/6373669.jpg" class="w-100" alt="...">
                    </figure>
             
                <h1><span style="color: rgb(2, 2, 255);">Oops! page not found</span></h1>
                <a href="/"><button>Go Back</button></a>
            </div>
<!--right side view-->
           

            </div>

        </div>
</div>
</div>
</div>    <!-- main header of page -->


<!--footer-->
<footer><p>created by vivek vala</p></footer>
<!--footer-->

</body>
</html>