<!DOCTYPE html>
<html lang="en">
<head>
    <!--head tag link-->
    {{>headtagdataallfiles}}
  <!--head tag link-->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--navbar header-->
   {{>header}}

    <!-- main header of page -->
<div class=" container container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side view-->
                <div class="col-md-6 col-12 main_header_left">
                <p>welcome to my technical world</p>
                <h1><span style="color: rgb(2, 2, 255);">i am a mern stack developer, </span>python developer and a data science developer</h1>
                <a href="/"><button>About Me</button></a>
            </div>
<!--right side view-->
            <div class="col-md-6 col-12 main_header_right">


               
                     
                     <figure> <img src="media/63c97bbbdeecd68494958b5d_manga-character_AI Avatar Dyvo.webp" class="w-100" alt="...">
                     </figure>
                       
                  </div>

            </div>

        </div>
</div>
</div>
</div>    <!-- main header of page -->


<!--footer-->
{{>footer}}
<!--footer-->

</body>
</html>